<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>My Blogs</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap"
    />
    <link rel="stylesheet" href="/assets/css/baguetteBox.min.css" />
    <link rel="stylesheet" href="/assets/css/vanilla-zoom.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>

  <body style="background-image: url(/assets/img/others/1.jpg.webp)">
    <main class="page blog-post-list">
      <section class="clean-block clean-blog-list">
        <div class="container">
          <div class="block-heading">
            <h2 style="color: #fff">Add a Blog</h2>
          </div>
          <div class="block-content">
            <div class="clean-blog-post">
              <form action="/add" method="POST" onsubmit="">
                <div class="form-group mb-3">
                  <label for="blog-title">Title</label>
                  <input
                    type="text"
                    class="form-control"
                    name="title"
                    id=""
                    placeholder="Title"
                    required
                  />
                </div>
                <div class="form-group mb-3">
                  <label for="blog-title">Subtitle</label>
                  <input
                    type="text"
                    name="subtitle"
                    class="form-control"
                    placeholder="Subtitle"
                    required
                  />
                </div>
                <div class="form-group mb-3">
                  <label for="blog-content">Content</label>
                  <textarea
                    class="form-control"
                    name="content"
                    id=""
                    rows="10"
                    placeholder="Content"
                    required
                  ></textarea>
                </div>
                <div class="form-group mb-2" style="text-align: start">
                  <input type="submit" class="btn btn-primary" value="ADD" />
                </div>
              </form>
              <div style="text-align: start">
                <a href="/adminIndex"
                  ><button class="btn btn-danger">CANCEL</button></a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/baguetteBox.min.js"></script>
    <script src="/assets/js/vanilla-zoom.js"></script>
    <script src="/assets/js/theme.js"></script>
  </body>
</html>
